.bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('authbg2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
:root {
    --form-control-color: #7f96d8;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  }
  .form-content-left {
    background: linear-gradient(
      90deg,
      /* rgb(39, 176, 255) 0%, */
      rgb(124, 238, 240),
      #7f96d8 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  .form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    
  }
  .form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(17, 17, 17) 100%);
  }
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form h1 {
      margin-top: 5%;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
  }  

  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  .form-label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 6px;
    color: #fff;
  }
  .radio-labels{
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 6px;
    color: #fff;
  }
  input[type="radio"]{
      cursor: pointer;
      float: right;
      /* display: inline; */
       /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #7f96d8;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  }
  input[type="radio"]::before {
    cursor: pointer;  
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {

    outline: max(2px, 0.15em) solid white;
    outline-offset: max(2px, 0.15em);
    cursor: pointer;
  }
  .form-input {
    text-align: center;
    display: block;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  .form-input::placeholder {
  text-align: center;
  color: #595959;
  font-size: 12px;
}
.form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition-delay: 5s;
  }
  .form-input-login {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }
.form-inputs p{
    color: red;
}